<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SCB Book Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<h1>Book List</h1>
    <table border="1">
        <tr>
            <th>#ID</th>
            <th>Book Name</th>
            <th>Author Name</th>
            <th>Price</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(books)}" th:each="book: ${books}">
            <td th:utext="${book.id}">...</td>
            <td th:utext="${book.bookName}">...</td>
            <td th:utext="${book.authorName}">...</td>
            <td th:utext="${book.price}">...</td>
        </tr>
        <tr th:if="${#lists.isEmpty(books)}">
            <td colspan="3" style="text-align:center; line-height:150%">-- Data Empty --</td>
        </tr>
    </table>
</body>
</html>